.product-cart{
    div{
        display: flex;
        img{
            max-height: 150px;
            max-width: 150px;
            margin: 10px 50px;
        }
        p, h4{
            margin: 40px 10px;
            flex-basis: 100%;
        }
        p, a {
            text-decoration: none;
            text-align: center;
        }
   
    }
}

.product-add{
    margin: 0 15px;
}
.product-add:hover{
    background-color: darkorchid;
}

.cart-total{
    justify-content: flex-end;
    margin-right: 100px;
    font-size: 30px;
}